header {
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav {
    font-size: 13px;
    font-weight: 700;
}

h1 {
    margin: 0 0 10px;
}

.topic {
    color: lightgoldenrodyellow;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
}

.topic:active {
    opacity: .5;
}

.topic:hover {
    color: rgb(236, 227, 165);
}

.header {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 15px 0;
    align-items: center;
}

.link {
    text-decoration: none;
    color: lightslategray;
    margin-left: 50px;
    opacity: .75;
    transition: opacity .1s linear;
}

.link:first-child {
    margin-left: 0;
}

.link:hover {
    opacity: 1;
}

.intro {
    height: 750px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    background: #326B86;
    background-image: url('../../static/img/mount.jpg');
    background-size: cover;
    background-position: center center no-repeat;
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    -o-transition: all 3s;
    transition: all 3s;
}

.intro:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.recommendations {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

.intro-title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: ivory;
    font-size: 50px;
}