.cast-crew {
    margin: 10px auto;
}

.cast-crew img {
    width: 200px;
}

.cast-crew img + figcaption {
    text-align: center;
}

.cast-crew > figure {
    margin: 0 5px;
    border: dimgray 1px dashed;
}

.cast-crew > figure:hover {
    cursor: url(../../../static/img/scissors.png) 12 14 , pointer;
    transform: translateY(-10px);
    transition: .5s;
}

.cast-crew > figure:active {
    cursor: wait;
}

.cast-crew-name {
    font-size: 18px;
    font-weight: 900;
    padding: 0 1%;
}

.cast-crew-role {
    color: dimgray;
    padding: 1% 1% 2%;
}