.cast-crew {
    margin: 10px auto;
}

.cast-crew img {
    width: 200px;
}

.cast-crew img + figcaption {
    text-align: center;
}

.cast-crew > figure {
    margin: 0 5px;
}

.cast-crew-name {
    font-size: 18px;
    font-weight: 900;
}

.cast-crew-role {
    color: dimgray;
}