.movie-page {
    margin-top: 10px;
    padding: 25px;
}

.images-container {
    display: flex;
}

.poster {
    border: 1px solid slategrey;
}

.image {
    float: left;
    max-height: 250px;
    margin: 0 0 3px 3px;
    border: 1px solid slategrey;
    transition: 1s;
}

.image:hover {
    opacity: .9;
    transform: scale(1.2);
    border-radius: 50%;
    transition: .6s;
}

.image:nth-last-child(-n+3) {
    margin: 0 0 0 3px;
}

.title {
    font-size: 30px;
    font-style: oblique;
    max-width: 1200px;
}

.overview {
    font-size: 30px;
    font-style: oblique;
    max-width: 1200px;
}

.genre + .genre::before {
    content: '/';
}

.about {
    display: flex;
}

.item {
    display: inline-block;
}
  
.item::after {
    display: inline-block;
    white-space: pre;
    content: ", ";
}

.item:last-child::after {
    content: none;
}

.container-production-companies {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
}

.production-company {
    overflow:hidden;
    padding: 10px;
    max-height: 150px;
}

/* .movie-info {
    display: flex;
} */

.movie-list-info {
    max-width: 700px;
}

/* .cast-crew {
    display: block;
} */

.rating {
    font-size: 45px;
    font-style: oblique;
    float: left;
    margin: 0 auto;
    /* padding-top: 5%; */
    text-align: center;
}

.rating-value {
    font-style: normal;
    font-size: 80px;
    font-weight: 900;
    margin-top: 50px;
    color: tomato;
}

.movie-figure {
    margin: 30px auto;
    width: 100%;
    max-width: 510px;
    padding: 1px;
    text-align: center;
    color: whitesmoke;
    background-color: #5f6a72;
    border-radius: 10px;
}

.movie-figure img {
    border-radius: 5px;
}

.movie-collection-container{
    text-align: center;
}

.collection-description {
    text-align: left;
    max-width: 500px;
    padding: 1em;
}