.movie-collection {
    display: inline-block;
    max-width: 350px;
    border: blanchedalmond 1px solid;
    margin: 10px;
    transition: .1s;
}

.movie-collection:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    box-shadow: 0 0 0 5px rgb(189, 185, 171, .5);
    transition: .1s;
}

.movie-collection-title {
    color: lightslategray;
    text-align: center;
    max-width: 230px;
    padding: 3%;
}

.movie-collection-fig {
    margin: 0 auto;
}

.movie-collection-fig img {
    height: 350px;
}

